mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                if video.owner
                    span #{video.owner.name} ・ 
                if video.meta.views
                    span #{video.meta.views}회
                else 
                    span 0회
