.search__form {
  position: relative;

  display: flex;
  align-items: center;
  max-width: 420px;
  margin: 0 auto 60px;

  button {
    all: unset;
  }
  button {
    position: absolute;
    right: 15px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
  }
}
