doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | WeTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        block scripts
    body
        header
            nav 
                ul 
                    if loggedIn
                        li
                            a(href="/videos/upload") Upload Video
                        li 
                            a(href="/users/edit") Edit Profile
                        li
                            a(href="/users/logout") Logout
                        li
                            a(href="/my-profile") #{loggedInUser.name}님의 프로필
                    else
                        li
                            a(href="/join") Join
                        li
                            a(href="/login") Login
                    li
                        a(href="/") Home
                    li
                        a(href="/search") Search
            h1=pageTitle
        main
            block content
        include partials/footer
