doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | WeTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        block scripts
    body
        header
            nav 
                ul 
                    if true
                        li
                            a(href="/login") Logout
                    else
                        li
                            a(href="/login") Login
                    li
                        a(href="/videos/upload") Upload Video
                    li
                        a(href="/") Home
                    li
                        a(href="/search") Search
            h1=pageTitle
        main
            block content
        include partials/footer
